<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SS-TEST</title>

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link href="css/dash-style.css" rel="stylesheet" />
  
    </head>
    
<body  class="">
  
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
		<div class="row col-12">
			<div class="col-lg-12">
				<h1 class="page-header"></h1>
			</div>
    </div>
    
      <div class="container-fluid">
         
       <div class="container-fluid mt--7 pb-5">
      <div class="d-flex flex-wrap mt-5">
        <div class=" col-12 mb-md-5 mb-2">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-12 d-flex align-items-center">
                  <h3 class="mb-0">Your Marks</h3>
                  <a href="#" class="ml-auto btn btn-sm btn-primary">Check your Marks</a>
                </div>
                <div class="col text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  
                      <p class="text-center">
                       know your performance
                      </p>                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-12 mb-md-5 mb-2">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
              <div class="col-12 d-flex align-items-center">
                  <h3 class="mb-0">Give Test</h3>
                  <a href="#" class="ml-auto btn btn-sm btn-primary">Move to the test Page</a>
                </div>
                <div class="col text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  
                      <p class="text-center">
                        Make yourself ready
                      </p>                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-12 mb-md-5 mb-2">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-12 d-flex align-items-center">
                  <h3 class="mb-0">Check Rules</h3>
                  <a href="#" class="ml-auto btn btn-sm btn-primary">The Rules page</a>
                </div>
                
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                  
                    <p class="text-center">
                      Rules are really Important before giving a test
                    </p>         
                </tbody>
              </table>
            </div>
          </div>
      </div>


  </div> 
  

</body> 
</html>
