<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="css/errorpage.css">
</head>
<body>
    <img src="images/404.svg" alt="errorImg">
    <div class="wrapper">
        <h1>Page Not Found</h1>
       <p class="message">
        Oops!!! Your requested page is no longer available
       </p>
       <a href="/" class="btn">Go back To HOME</a>
       <p class="copyRights">&copy; 2021 SS test</p>
    </div>
</body>
</html>