<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content="">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon_test.png">
	<title>SS-TEST</title>
	
</head>

<body>


	<!-- HEADER =============================-->
	<header class="item header margin-top-0">
		<div class="wrapper">
			{{>navbar}}
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="text-homeimage">
							<div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
								Push Yourself, Because No-Else
							</div>
							<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
								Is Going To Do It For You
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- STEPS =============================-->
	<div class="item content">
		<div class="container toparea">
			<div class="row text-center">
				<div class="col-md-3">
					<div class="col editContent">
						<span class="numberstep"><i class="fas fa-calendar-minus"></i></span>
						<h3 class="numbertext">Make and follow a time table</h3>
						<p style="text-align:justify;">
							Once you understand 'What to prepare?' it's your turn to plan 'How to prepare?' Make a
							time-table with both short-term and long-term goals that would help you in timely
							preparation for the exam. A time table makes you more disciplined and helps you to get rid
							of haphazardness.
						</p>
					</div>
					<!-- /.col-md-4 -->
				</div>
				<!-- /.col-md-4 col -->
				<div class="col-md-3 editContent">
					<div class="col">
						<span class="numberstep"><i class="fas fa-bullseye"></i></span>
						<h3 class="numbertext">Focus on concepts- No rote learning</h3>
						<p style="text-align:justify;">
							Focus on understanding the concepts throughout your preparation. Do not adopt rote learning
							technique. Understanding helps you to remember the concepts for a very long period of time.
							Moreover, with a clear understanding of the concepts, you can comfortably handle questions
							related to those concepts.
						</p>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.col-md-4 col -->
				<div class="col-md-3 editContent">
					<div class="col">
						<span class="numberstep"><i class="fas fa-tasks"></i></span>
						<h3 class="numbertext">Self-evaluation is very critical</h3>
						<p style="text-align:justify;">
							Studying alone doesn't make your preparation complete. You must evaluate yourself
							time-to-time for an effective preparation. You must write sample papers for the competitive
							exam you are preparing for.
						</p>
					</div>
				</div>
				<div class="col-md-3 editContent">
					<div class="col">
						<span class="numberstep"><i class="fas fa-thumbs-up"></i></i></span>
						<h3 class="numbertext">Stay positive and confident</h3>
						<p style="text-align:justify;">
							'Belief' is a very powerful tool. You must believe in yourself and your preparation. Ensure
							that you study the same way throughout the year, to avoid last minute rush and stress. Spend
							10-15 minutes before going off to sleep to quickly recap all that you learnt throughout the
							day.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- LATEST ITEMS =============================-->
	<section class="item content">
		<div class="container">
			<div class="underlined-title">
				<div class="editContent">
					<h1 class="text-center latestitems">Test Series</h1>
				</div>
				<div class="wow-hr type_short">
					<span class="wow-hr-h">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="productbox">
						<div class="fadeshop">
							<div class="captionshop text-center" style="display: none;">
								<h3>HTML</h3>
								<p>
									HTML MCQ TEST
								</p>
								<p>
									<a href="/question_rrb" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
										Start Test</a>

								</p>
							</div>
							<span class="maxproduct"><img src="images/exam1.jpg" alt="exam1"></span>
						</div>
						<div class="product-details">
							<a href="#">
								<h1>HTML</h1>
							</a>
						</div>
					</div>
				</div>
				<!-- /.productbox -->
				<div class="col-md-4">
					<div class="productbox">
						<div class="fadeshop">
							<div class="captionshop text-center" style="display: none;">
								<h3>SSC</h3>
								<p>
									SSC CGL 2019 Mock Test
								</p>
								<p>
									<a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
										Start Test</a>
								</p>
							</div>
							<span class="maxproduct"><img src="images/exam2.jpg" alt="exam2"></span>
						</div>
						<div class="product-details">
							<a href="#">
								<h1>Staff Selection Commission</h1>
							</a>
						</div>
					</div>
				</div>
				<!-- /.productbox -->
				<div class="col-md-4">
					<div class="productbox">
						<div class="fadeshop">
							<div class="captionshop text-center" style="display: none;">
								<h3>IBPS</h3>
								<p>
									IBPS 2019 Mock Test
								</p>
								<p>
									<a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
										Start Test</a>
								</p>
							</div>
							<span class="maxproduct"><img src="images/exam3.jpg" alt="exam3"></span>
						</div>
						<div class="product-details">
							<a href="#">
								<h1>IBPS</h1>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- BUTTON =============================-->
	<div class="item content">
		<div class="container text-center">
			<a href="/taketest" class="homebrowseitems">Browse All Tests
				<div class="homebrowseitemsicon">
					<i class="fa fa-star fa-spin"></i>
				</div>
			</a>
		</div>
	</div>
	<br />

	


	<!-- TESTIMONIAL =============================-->
	<div class="item content">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="slide-text">
					<div>
						<h2><span class="uppercase">Awesome Support</span></h2>
						<img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/avatar2.png"
							alt="Awesome Support">
						<p>
							The support... I can only say it's awesome. You make a product and you help people out any
							way you can even if it means that you have to log in on their dashboard to sort out any
							problems that customer might have. Simply Outstanding!
						</p>
						<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
							class="fa fa-star"></i><i class="fa fa-star"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER =============================-->
	{{>footer}}

	<!-- SCRIPTS =============================-->
	<script src="js/jquery-.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/anim.js"></script>
	<script>
		//----HOVER CAPTION---//	  
		jQuery(document).ready(function ($) {
			$('.fadeshop').hover(
				function () {
					$(this).find('.captionshop').fadeIn(150);
				},
				function () {
					$(this).find('.captionshop').fadeOut(150);
				}
			);
		});
	</script>

</body>

</html> 