<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
    <title>SS-TEST</title>
    <link rel="shortcut icon" href="images/favicon_test.png">
</head>

<body>

    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            {{>navbar}}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-pageheader">
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                                Take A Test
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- CONTENT =============================-->
    <section class="item content">
        <div class="container toparea">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">Tests that are available</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Abstract Reasoning Test</h3>
                                <p>
                                    Tests that measure abstract reasoning assess a candidate’s ability to think
                                    laterally and from a unique perspective.
                                </p>
                                <p>
                                    <a href="/test1" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/exam1.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Abstract Reasoning Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Spatial Reasoning Test</h3>
                                <p>
                                    Spatial reasoning defines a candidate’s ability to understand and visualize
                                    two-dimensional and three-dimensional patterns and shapes.
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/exam3.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Spatial Reasoning Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Verbal Ability Test</h3>
                                <p>
                                    This type of aptitude test evaluates how well an individual can use words.
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/image4.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Verbal Ability Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Logical and Critical Reasoning Test</h3>
                                <p>
                                    These tests help evaluate the candidates on their logic inference irrespective of
                                    the job roles.
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/image1.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Logical and Critical Reasoning Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Visual Reasoning Test</h3>
                                <p>
                                    Individuals’ visual reasoning abilities are directly related to their intelligence.
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/image2.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Visual Reasoning Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>Problem-Solving Abilities Test</h3>
                                <p>
                                    This particular test assesses how an individual effectively processes every aspect
                                    of a situation and finds a viable solution.
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fas fa-pencil-alt"></i>
                                        Start Test</a>

                                </p>
                            </div>
                            <span class="maxproduct"><img src="images/exam2.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Problem-Solving Abilities Test</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
            </div>
        </div>
        </div>
    </section>

    

    <!-- FOOTER =============================-->
    {{>footer}}

    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//	  
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
</body>

</html>